@charset "UTF-8"
{}
/*Mobile Firs*/

*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, helvetica, sans-serif;
}
body{
  background-color: lightgray;
}
h1{
  text-align: center;
  color: black;
  background-color: gray;
}
#menu{
  display: flex;
}
main{
  display: block;
  justify-content: center;
  width: 600px;
  padding: 10px;
  margin-top: 10px;
  margin: auto;
  background-color: white;
  border-radius: 15px;
}
p{
  padding: 3px;
  
}

